{% extends "base.twig" %}

{% block content %}

		<header id="intro">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-1">
						<hgroup>
							<h1>{{intro.title}}</h1>
							<h2 class="lead">{{intro.content|striptags}}</h2>
						</hgroup>
						<p class="lead">

							<a href="#about" class="btn btn-primary btn-lg btn-scroll" data-track-name="Read More" data-track-url="{{site.url}}/#about">Read More</a>

							{% if intro.get_field('reseller_order_url') %}
								{% if intro.get_field('reseller_order_label') %}
									<a href="{{ intro.get_field('reseller_order_url') }}" class="btn btn-link btn-lg" data-track-name="{{ intro.get_field('reseller_order_label') }}" data-track-url="{{ intro.get_field('reseller_order_url') }}">{{ intro.get_field('reseller_order_label') }}</a>
								{% else %}
									<a href="{{ intro.get_field('reseller_order_url') }}" class="btn btn-link btn-lg" data-track-name="Order SimaPro" data-track-url="{{ intro.get_field('reseller_order_url') }}">Order SimaPro</a>
								{% endif %}
							{% endif %}
						</p>
						<p><small>You will be redirected to your local partner {{ intro.get_field('reseller_name') }}</small></p>
					</div>
					<div class="col-sm-5">
						{% if intro.thumbnail.src %}
							<img src="{{intro.thumbnail.src('full')}}" class="img-responsive" />
						{% endif %}
					</div>
				</div>
			</div>
		</header>

		<section id="reseller">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<img src="{{local.thumbnail.src('full')}}" class="img-responsive" />
					</div>
					<div class="col-sm-7">
						<h2>{{local.title}}</h2>
						<a href="{{local.get_field('button_url')}}" class="btn btn-primary btn-lg" data-track-name="{{ local.get_field('button_title') }}" data-track-url="{{ local.get_field('button_url') }}" >{{ local.get_field('button_title') }}</a>
					</div>
				</div>
			</div>
		</section>

		<section id="usp">
			<div class="container">
				<div class="row">
					<div class="col-sm-12"><h2>Why use SimaPro?</h2></div>
				</div>
				<div class="row">
					{% for item in usps%}
					<div class="col-sm-4">
						<div class="usp-item">
							<h3><span class="icon icon-{{item.post_title|lower}}"></span>{{ item.post_title }}</h3>
							<p>{{ item.post_content }}</p>
						</div>
						<div class="ups-ft">
							<a href="{{ item.link_url }}" class="btn btn-primary" data-track-name="{{item.post_title}}" data-track-url="{{ item.link_url }}">{{ item.link_label }}</a>
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<ul class="keywords">
							{% for cat in usps_categories %}
								<li><span class="label label-default">{{cat.name}}</span></li>
							{% endfor %}
						</ul>
					</div>
			</div>
		</section>

		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1">
						<aside>
							<img src="{{about.thumbnail.src('full')}}" class="img-responsive">
							<ul>
								{% for spec in about.get_field('specifications') %}
									<li>{{spec.option_spec}}</li>
								{% endfor %}
							</ul>
						</aside>
					</div>
					<div class="col-sm-6">
						<h2>{{about.title}}</h2>
						<p>{{about.content}}</p>
						<div class="panel panel-default pricing">
						  <div class="panel-heading">
						    <h3 class="panel-title">{{about.get_field('pricing_header')}}</h3>
							<p>{{about.get_field('pricing_subtitle')}}</p>
						  </div>
						  <div class="panel-body">
								{% for price in about.get_field('pricing_option') %}
									<div class="col-sm-6 business">
										<h4>{{price.option_title}}</h4>
							    	<p>starting at</p>
										<h5>&euro; {{price.option_price}}</h5>
									</div>
								{% endfor %}
						  </div>
						</div>
						<p class="lead">
							<a href="{{ about.get_field('try_url') }}" class="btn btn-primary" data-track-name="{{ about.get_field('try_label') }}" data-track-url="{{ about.get_field('try_url') }}">{{ about.get_field('try_label') }}</a>
							<a href="{{ about.get_field('more_url') }}" class="btn btn-link" data-track-name="{{ about.get_field('more_label') }}" data-track-url="{{ about.get_field('more_url') }}">{{ about.get_field('more_label') }}</a>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section id="demo">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2>{{trynow.title}}</h2>
						<a href="{{ trynow.get_field('button_url') }}" class="btn btn-default btn-lg" data-track-name="{{ trynow.get_field('button_label') }}" data-track-url="{{ trynow.get_field('button_url') }}">{{ trynow.get_field('button_label') }}</a>
					</div>
				</div>
			</div>
		</section>

		<section id="testimonials">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div id="slider" class="flexslider">
							<ul class="slides">
								{% for person in testimonials %}
								<li>
									<blockquote>{{person.quote}}</blockquote>
									<p>&mdash; {{person.author_name}}</p>
									<small>{{person.author_description}}</small>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-sm-12">
						<div id="carousel" class="flexslider">
							<ul class="slides">
								{% for img in testimonials %}
								<li><img src="{{img.thumbnail.src}}"></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="newsletter">
			<div class="container">
				<div class="row">
					<div class="col-sm-12"><h2>{{newsletter.title}}</h2></div>
				</div>
				<div class="row">
					<form id="newsletter-form" action="{{newsletter.get_field('form_action_link')}}" method="post" class="form-inline" role="form">
						{% for input in newsletter.get_field('inputfields') %}
									<div class="form-group">
										<label class="sr-only" for="{{input.input_labelfor}}">{{input_labelname}}</label>
										<input class="form-control" placeholder="{{input.input_placeholder}}" id="{{input.input_id}}" name="{{input.input_name}}" type="{{input.input_type}}" required/>
									</div>
						{% endfor %}
						<button type="submit" class="btn btn-default btn-lg" id="subscribe" onClick="_gaq.push(['_trackEvent', 'button', 'Subscribe', 'http://pre-sustainability.createsend.com/t/j/s/tjitlh/']);">{{newsletter.get_field('submit_button_text')}}</button>
						<p>{{newsletter.get_field('info_text')}}</p>
						<input type="hidden" id="{{newsletter.get_field('hidden_field_id')}}" name="{{newsletter.get_field('hidden_field_name')}}" value="{{newsletter.get_field('hidden_field_value')}}" />
					</form>
				</div>
			</div>
		</section>

		<section id="contact">
			<div class="container">
				<div class="row">
					{% for item in support %}
						<div class="col-sm-3">
							<h3>{{item.title}}</h3>
							<p>{{item.support_content}}</p>
							<div class="ft">
								<a href="{{ item.support_url }}" class="btn btn-link" data-track-name="{{ item.title }}" data-track-url="{{ item.support_url }}">{{ item.support_label }}</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
{% endblock %}
